#recipeForm {
    height: 680px;
    padding-right: 12px;
    overflow-x: hidden;
    overflow-y: scroll;
}

form {
    display: flex;
    flex-flow: column nowrap;
    width: 666px;
    padding-top: 24px;
}

.action {
    display: flex;
    justify-content: flex-end;
}

.action-p2 {
    display: flex;
    justify-content: space-between;
}

textarea {
    min-height: 250px;
}

.ingredient-form-element:not(:first-child) {
    border-top: 2px dashed gray;
}

.ingredient-form-element {
    margin: 8px;
    padding: 8px;
}

.ingredient-form-element > form > div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.ingredient-form-element > form > div > mat-form-field {
    width: 100%;
}

.amount {
    flex: 0.65;
}

.amountUnit {
    flex: 0.25;
}

.add-ingredient > button {
    width: 100%;
    margin: 24px 0 24px 0;
}