<div id="navigation">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <div class="home" routerLink="/recipe">
                <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                <span>Kochbuch</span>
            </div>
            <div>
                <!-- <a mat-stroked-button color="accent" routerLink="/recipe" >Rezeptübersicht</a>
                <a mat-stroked-button routerLink="/recipe/create">Rezept erstellen</a> -->
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>